<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заключение аренды</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>
<div class="site-body">
    <header>
        <a href="{{ url_for("index") }}" class="border_radius_left">Автомобили</a>
        <a href="{{ url_for("rental") }}" class="border_radius_right">Аренды</a>
    </header>

    <div class="section-header">
        <h1>Заключение аренды</h1>
    </div>

    <div class="site-content">
        <div class="site-content-left">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cupiditate distinctio dolore dolores eum excepturi fugit hic illo in labore laudantium, nesciunt nisi pariatur quae, quam quod ratione repellendus tenetur!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cupiditate distinctio dolore dolores eum excepturi fugit hic illo in labore laudantium, nesciunt nisi pariatur quae, quam quod ratione repellendus tenetur!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cupiditate distinctio dolore dolores eum excepturi fugit hic illo in labore laudantium, nesciunt nisi pariatur quae, quam quod ratione repellendus tenetur!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cupiditate distinctio dolore dolores eum excepturi fugit hic illo in labore laudantium, nesciunt nisi pariatur quae, quam quod ratione repellendus tenetur!</p>
        </div>
        <div class="site-content-right">

        </div>
    </div>
</div>
</body>
</html>